@media screen and (min-width: 400px) {
body { 
	background-color: #a3e4d7; }
}
@media screen and (min-width: 455px) and (max-width: 500px) {
body {
	background-color: #fdedc;}
}
@media screen and (min-width: 501px) and (max-width: 599px) {
body {
	background-color: #fef5e7;}
}
@media screen and (min-width: 600px) {
body {
	background-color: #eaecee;}
}

